<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.list_orderMapper">
    <select id="getList_order" resultType="pojo.list_order">
        select * from list_order where product_id = #{productId} and order_item_id=1
    </select>
    <select id="getList" resultType="pojo.list_order">
        select * from list_order where product_id = #{productId} and order_item_id=1 and price=#{price}
    </select>
    <select id="getOrder" resultType="pojo.list_order">
        select * from list_order where order_id = #{orderId}
    </select>
</mapper>